.payment-container{
    font-family: "Nunito", sans-serif;
    width: 95%;
    padding: 10px;
    margin: 10px;
}

.payment-box{
    display: flex;
    /* justify-content: center; */
    padding: 8px;
    gap: 10px;
    align-items: center;
}
.payment-boxes{
    width: 48%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
}
.payment{
     color:#787878;
     padding: 5px;

}
.doller{
    padding: 5px;
    font-weight: bold;
}
.week{
    color: #2ED62B;
    padding: 5px;
}
@media (max-width:768px){
    .payment-box{
        flex-direction: column;
    }
    .payment-boxes{
        width: 100%;
    }
}
@media (max-width:425px){
    .payment-box{
        flex-direction: column;
    }
    .payment-boxes{
        width: 100%;
        margin: 0%;
    }
}