
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



/* Default LTR style */
[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

/* Arabic RTL style */
[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .header-container {
  flex-direction: row-reverse; 
  text-align: right;
}

[dir="rtl"] .header-title p {
  text-align: right;
}

[dir="rtl"] .header-right {
  flex-direction: row-reverse;
}


